[package]
name = "cadency"
version = "0.1.1"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
env_logger = "0.9.0"
log = "0.4.14"
reqwest = "0.11.6"
thiserror = "1.0.30"

[dependencies.serenity]
version = "0.11.5"
default-features = false
features = ["client", "gateway", "rustls_backend", "model"]

[dependencies.tokio]
version = "1.13.0"
features = ["macros", "rt-multi-thread"]

[dependencies.songbird]
version = "0.3.0"
optional = true

[dependencies.serde]
version = "1.0.130"
features = ["derive"]

[features]
default = ["audio"]
audio = ["songbird", "songbird/builtin-queue", "serenity/voice", "serenity/cache"]
