name: Main
on:
  push:
    branches:
      - main

jobs:
  test_branch:
    name: Test Main
    uses: ./.github/workflows/test.yml
  publish_image:
    needs:
      - test_branch
    name: Publish main image
    uses: ./.github/workflows/image.yml
    with:
      push: true
    secrets:
      GHCR_USER: ${{ secrets.GHCR_USER }}
      GHCR_TOKEN: ${{ secrets.GHCR_TOKEN }}
