name: Test Workflow
on:
  workflow_call:

jobs:
  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Cache for Rust
        uses: Swatinem/rust-cache@v2
        with:
          prefix-key: "rust-${{ github.job }}"
      - name: Run clippy
        run: cargo clippy

  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run fmt
        run: rust fmt --all --check

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Cache for Rust
        uses: Swatinem/rust-cache@v2
        with:
          prefix-key: "rust-${{ github.job }}"
      - name: Setup yt-dlp
        run: >
          wget https://github.com/yt-dlp/yt-dlp/releases/download/2022.09.01/yt-dlp &&
          chmod a+x yt-dlp &&
          mv yt-dlp /usr/local/bin &&
          yt-dlp --version
      - name: Run tests
        run: cargo test --all

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Cache for Rust
        uses: Swatinem/rust-cache@v2
        with:
          prefix-key: "rust-${{ github.job }}"
      - name: Test build
        run: cargo build
